.card {
  /* filter: drop-shadow(0px 16px 4px #b6b6b9); */
}

.card:after {
  content: " ";
  position: absolute;
  width: 50%;
  right: 23%;
  bottom: 0;
  height: 13px;
  z-index: -1;
  border-radius: 25px;
  -moz-box-shadow: 0px 2px 4px #c3c3c5;
  /* -webkit-box-shadow: 0px 5px 4px #b6b6b9; */
  box-shadow: 0px 15px 4px #b6b6b9;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.card-body {
  height: 150px;
}

.card-footer {
  border: 0;
  padding: 1rem;
}

.card-text {
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.card-subtext {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.card-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../image/bg/1.jpg");
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  border: 0;
}

.card-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../image/bg/2.webp");
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  border: 0;
}

.card-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../image/bg/3.jpg");
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  border: 0;
}

.card-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../image/bg/4.jpg");
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  border: 0;
}

.card-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../image/bg/5.jpg");
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  border: 0;
}

.card-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../image/bg/7.jpg");
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  border: 0;
}